# [mydb]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [mydb]    Script Date: 2022/5/23 下午 12:45:40 ******/
CREATE DATABASE [mydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mydb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mydb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [mydb] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [mydb] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [mydb] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [mydb] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [mydb] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [mydb] SET ARITHABORT OFF 
GO
ALTER DATABASE [mydb] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [mydb] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [mydb] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [mydb] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [mydb] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [mydb] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [mydb] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [mydb] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [mydb] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [mydb] SET  DISABLE_BROKER 
GO
ALTER DATABASE [mydb] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [mydb] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [mydb] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [mydb] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [mydb] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [mydb] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [mydb] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [mydb] SET RECOVERY FULL 
GO
ALTER DATABASE [mydb] SET  MULTI_USER 
GO
ALTER DATABASE [mydb] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [mydb] SET DB_CHAINING OFF 
GO
ALTER DATABASE [mydb] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [mydb] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [mydb] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [mydb] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'mydb', N'ON'
GO
ALTER DATABASE [mydb] SET QUERY_STORE = OFF
GO

# [dbo].[favorite]

In [0]:
USE [mydb]
GO

In [0]:
/****** Object:  Table [dbo].[favorite]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[serial number] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[storeName] [nvarchar](50) NULL,
	[productName] [nvarchar](50) NULL,
	[productID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[serial number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[orderList]

In [0]:
/****** Object:  Table [dbo].[orderList]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderList](
	[serual number] [int] IDENTITY(10000025,1) NOT NULL,
	[storeName] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NULL,
	[userEmail] [nvarchar](50) NULL,
	[buy quantity] [int] NOT NULL,
	[date] [date] NULL
) ON [PRIMARY]
GO

# [dbo].[persons]

In [0]:
/****** Object:  Table [dbo].[persons]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[姓名] [nvarchar](50) NULL,
	[電話] [nvarchar](50) NULL,
	[地址] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[生日] [date] NULL,
	[婚姻狀態] [bit] NULL,
	[點數] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[product]

In [0]:
/****** Object:  Table [dbo].[product]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[serual number] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productImage] [nvarchar](100) NULL,
	[productPrice] [int] NOT NULL,
	[productDescription] [nvarchar](100) NULL,
	[stock] [int] NULL,
	[sold quantity] [int] NULL,
	[favorite quantity] [int] NULL,
	[on sale] [bit] NULL,
	[discount] [decimal](3, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[products]

In [0]:
/****** Object:  Table [dbo].[products]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nvarchar](200) NULL,
	[price] [int] NULL,
	[description] [nvarchar](2000) NULL,
	[pimage] [nvarchar](100) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[store]

In [0]:
/****** Object:  Table [dbo].[store]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[serial number] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[storeEmail] [nvarchar](50) NULL,
	[storeName] [nvarchar](50) NULL,
	[storeAddress] [nvarchar](50) NULL,
	[productClass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[serial number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[storeAccount]

In [0]:
/****** Object:  Table [dbo].[storeAccount]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeAccount](
	[ID] [int] IDENTITY(10001,1) NOT NULL,
	[storeEmail] [nvarchar](50) NULL,
	[srorePassWord] [nvarchar](50) NULL,
	[storeName] [nvarchar](100) NULL,
	[storeAddress] [nvarchar](200) NULL,
	[storeClass] [nvarchar](15) NULL,
 CONSTRAINT [PK_StoreID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[UserAccount]

In [0]:
/****** Object:  Table [dbo].[UserAccount]    Script Date: 2022/5/23 下午 12:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[ID] [int] IDENTITY(1001,1) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[UserPassWord] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[favorite]

In [0]:
SET IDENTITY_INSERT [dbo].[favorite] ON 
INSERT [dbo].[favorite] ([serial number], [ID], [storeName], [productName], [productID]) VALUES (3, 1002, N'真香香滷肉飯', N'冷凍肉燥包', NULL)
INSERT [dbo].[favorite] ([serial number], [ID], [storeName], [productName], [productID]) VALUES (30, 1001, N'真香香滷肉飯', N'冷凍肉燥包', 1)
INSERT [dbo].[favorite] ([serial number], [ID], [storeName], [productName], [productID]) VALUES (31, 1001, N'真好味火鍋店', N'沙茶爐個人組', 1)
SET IDENTITY_INSERT [dbo].[favorite] OFF
GO

# [dbo].[orderList]

In [0]:
SET IDENTITY_INSERT [dbo].[orderList] ON 
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000025, N'真好味火鍋店', N'沙茶爐個人組', N'test123@mail.com', 2, CAST(N'2022-05-13' AS Date))
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000026, N'真味火鍋店', N'沙茶爐個人組', N'user5544@mail.com', 1, CAST(N'2022-05-13' AS Date))
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000027, N'真香香滷肉飯', N'冷凍肉燥包', N'user5544@mail.com', 5, CAST(N'2022-05-13' AS Date))
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000028, N'真好味火鍋店', N'沙茶爐個人組', N'test123@mail.com', 1, CAST(N'0520-01-01' AS Date))
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000034, N'真好味火鍋店', N'沙茶爐個人組', N'test123@mail.com', 1, CAST(N'2022-05-20' AS Date))
INSERT [dbo].[orderList] ([serual number], [storeName], [productName], [userEmail], [buy quantity], [date]) VALUES (10000035, N'真香香滷肉飯', N'冷凍肉燥包', N'test123@mail.com', 1, CAST(N'2022-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[orderList] OFF
GO

# [dbo].[persons]

In [0]:
SET IDENTITY_INSERT [dbo].[persons] ON 
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (1, N'陳大貓', N'0912345678', N'高雄市前金區中正路', N'mm@123.com', CAST(N'1988-05-05' AS Date), 0, 2000)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (3, N'張大書', N'0955632144', N'高雄市鼓山區美術路', N'gho@123.com', CAST(N'1999-04-13' AS Date), 1, 2000)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (4, N'林玉霈', N'0931564877', N'高雄市左營區左營大路', N'hcc@123.com', CAST(N'1979-08-05' AS Date), 0, 1500)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (5, N'王小明', N'09999999', N'高雄市左營區華夏路', N'gogog@123.com', CAST(N'1993-09-07' AS Date), 1, 300)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (6, N'王大大', N'0914423548', N'屏東縣屏東市', N'ggoo@123.com', CAST(N'2022-05-01' AS Date), NULL, 400)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (9, N'王大衛', N'097894561', N'台南市東區', N'hoo@123.com', CAST(N'1992-04-15' AS Date), 1, 1500)
INSERT [dbo].[persons] ([Id], [姓名], [電話], [地址], [email], [生日], [婚姻狀態], [點數]) VALUES (14, N'王品', N'09111222', N'台中市', N'hog@2233.com', CAST(N'1987-07-12' AS Date), 0, 3000)
SET IDENTITY_INSERT [dbo].[persons] OFF
GO

# [dbo].[product]

In [0]:
SET IDENTITY_INSERT [dbo].[product] ON 
INSERT [dbo].[product] ([serual number], [ID], [productName], [productImage], [productPrice], [productDescription], [stock], [sold quantity], [favorite quantity], [on sale], [discount]) VALUES (1, 10001, N'麻辣小火鍋', N'spicy.jpg', 150, N'麼臺線機的足布放見我是，化之好心進把今色象，的禮走了然提總處花想未一響蘭、當個一：之流辦上運好？以定大大信、由說館房連不先高中媽八境日', 25, 39, 8, 0, CAST(0.00 AS Decimal(3, 2)))
INSERT [dbo].[product] ([serual number], [ID], [productName], [productImage], [productPrice], [productDescription], [stock], [sold quantity], [favorite quantity], [on sale], [discount]) VALUES (2, 10001, N'沙茶爐個人組', N'sachar.jpg', 160, N'麼臺線機的足布放見我是，化之好心進把今色象，的禮走了然提總處花想未一響蘭、當個一：之流辦上運好？以定大大信、由說館房連不先高中媽八境日', 5, 51, 25, 1, CAST(0.80 AS Decimal(3, 2)))
INSERT [dbo].[product] ([serual number], [ID], [productName], [productImage], [productPrice], [productDescription], [stock], [sold quantity], [favorite quantity], [on sale], [discount]) VALUES (3, 10002, N'冷凍肉燥包', N'meat.jpg', 110, N'麼臺線機的足布放見我是，化之好心進把今色象，的禮走了然提總處花想未一響蘭、當個一：之流辦上運好？以定大大信、由說館房連不先高中媽八境日', 30, 45, 19, 1, CAST(0.90 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[product] OFF
GO

# [dbo].[products]

In [0]:
SET IDENTITY_INSERT [dbo].[products] ON 
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (1, N'蘋果', 50, N'好吃貧果快來買', N'1.png')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (2, N'橘子', 30, N'橘子好吃，不酸', N'2.png')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (3, N'櫻桃', 150, N'大大大大大大大大大', N'sachar.jpg')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (4, N'滷肉飯', 200, N'好吃好吃好吃好吃', N'202205181108464732.jpg')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (5, N'西瓜', 80, N'沅沅圓沅圓沅沅圓', N'5.png')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (1002, N'麻辣小火鍋', 180, N'麻辣小火鍋', N'202205181147467162.jpg')
INSERT [dbo].[products] ([id], [pname], [price], [description], [pimage]) VALUES (1003, N'沙茶', 200, N'沙茶爐', N'202205181156053821.jpg')
SET IDENTITY_INSERT [dbo].[products] OFF
GO

# [dbo].[store]

In [0]:
SET IDENTITY_INSERT [dbo].[store] ON 
INSERT [dbo].[store] ([serial number], [ID], [storeEmail], [storeName], [storeAddress], [productClass]) VALUES (1, 10001, N'store555@mail.com', N'真好味火鍋店', N'高雄市前金區中正四路211號', N'火鍋')
INSERT [dbo].[store] ([serial number], [ID], [storeEmail], [storeName], [storeAddress], [productClass]) VALUES (2, 10002, N'store222@mail.com', N'真香香滷肉飯', N'高雄市左營區華夏路311-1號', N'飯')
SET IDENTITY_INSERT [dbo].[store] OFF
GO

# [dbo].[storeAccount]

In [0]:
SET IDENTITY_INSERT [dbo].[storeAccount] ON 
INSERT [dbo].[storeAccount] ([ID], [storeEmail], [srorePassWord], [storeName], [storeAddress], [storeClass]) VALUES (10001, N'store555@mail.com', N'ffg938', N'真好味火鍋店', N'高雄市前金區中正四路211號', N'火鍋')
INSERT [dbo].[storeAccount] ([ID], [storeEmail], [srorePassWord], [storeName], [storeAddress], [storeClass]) VALUES (10002, N'store222@mail.com', N'ffg939', N'真香香滷肉飯', N'高雄市左營區華夏路331-1號', N'飯')
SET IDENTITY_INSERT [dbo].[storeAccount] OFF
GO

# [dbo].[UserAccount]

In [0]:
SET IDENTITY_INSERT [dbo].[UserAccount] ON 
INSERT [dbo].[UserAccount] ([ID], [UserEmail], [UserPassWord]) VALUES (1001, N'test123@mail.com', N'p01020304')
INSERT [dbo].[UserAccount] ([ID], [UserEmail], [UserPassWord]) VALUES (1002, N'user5544@mail.com', N'pw12345')
INSERT [dbo].[UserAccount] ([ID], [UserEmail], [UserPassWord]) VALUES (1003, N'user1@mail.com', N'ffg938')
INSERT [dbo].[UserAccount] ([ID], [UserEmail], [UserPassWord]) VALUES (1004, N'user2@mail.com', N'654987')
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO

# [DF__orderList__buy q__70DDC3D8]

In [0]:
ALTER TABLE [dbo].[orderList] ADD  DEFAULT ((1)) FOR [buy quantity]
GO

# [DF__product__product__6754599E]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ('product image') FOR [productImage]
GO

# [DF__product__product__68487DD7]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ('無描述') FOR [productDescription]
GO

# [DF__product__stock__693CA210]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [stock]
GO

# [DF__product__sold qu__6A30C649]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [sold quantity]
GO

# [DF__product__favorit__6B24EA82]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [favorite quantity]
GO

# [DF__product__on sale__6C190EBB]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [on sale]
GO

# [DF__product__discoun__6D0D32F4]

In [0]:
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0.0)) FOR [discount]
GO

# [mydb]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [mydb] SET  READ_WRITE 
GO